.compras {
    width: 100%;
    height: 99vh;
    display: grid;
    grid-template-rows: 70px 230px calc(100% - 390px) 90px;
}

.compras1 {
    width: 100%;
    height: 99vh;
    display: grid;
    grid-template-rows: 70px 230px calc(100% - 300px);
}

.comprasform {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(170px, 20%) minmax(170px, 20%) minmax(170px, 20%) minmax(170px, 20%) minmax(170px, 20%);
    grid-template-rows: minmax(100px, 50%) minmax(100px, 50%);
}

.comprasuno {
    grid-row-start: 2;
    grid-row-end: 2;
}

.comprasdos {
    grid-row-start: 3;
    grid-row-end: 3;
}

.comprastres {
    grid-row-start: 4;
    grid-row-end: 4;
}

.comprasform1 {
    grid-row-start: 1;
    grid-row-start: 1;
}

.comprasform2 {
    grid-row-start: 2;
    grid-row-start: 2;
}