@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: auto;
    scrollbar-color: #440057 #ffffff;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: #440057;
    border-radius: 20px;
    border: 3px solid rgb(3, 69, 131)
}

body {
    background-color: #2C2F33;
}

input {
    color-scheme: dark;
}

.navbar {
    background-color: #060b26;
    height: 70px;
    width: 70px;
    float: left;
    justify-content: flex-start;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 1;
}

.menu-bars {
    padding-left: 1rem;
    font-size: 2rem;
    background: none;
}

.nav-menu {
    background-color: #060b26;
    width: 220px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
}

.nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}

.nav-text button {
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-menu-items {
    width: 100%;
}

.navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin-left: 16px;
}

.fadetext {
    animation: fadeIn 2s;
}

.proveedores {
    width: 100%;
    height: 99vh;
    display: grid;
    grid-template-rows: 70px calc(90% - 70px) 10%;
}

.uno {
    grid-row-start: 2;
    grid-row-end: 2;
}

.dos {
    grid-row-start: 3;
    grid-row-end: 4;
}

.title {
    grid-row-start: 1;
    grid-row-end: 1;
}

.proveedoresform {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 25%) minmax(200px, 25%) minmax(200px, 25%) minmax(200px, 25%);
}

.tiendaform {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 33.3%) minmax(200px, 33.3%) minmax(200px, 33.3%);
    grid-template-rows: minmax(100px, 50%) minmax(100px, 50%);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

